<div class="grid section ui-corner-all">
<div class="ui-widget-header ui-corner-all header">
    <h2>ユーザー管理</h2>
</div>
<div class="tooltip shadow"></div>
<a href="/admin/users/edit">新規登録</a>
<table class="list" cellspacing="0" cellpadding="0" >
<thead>
<tr>
<td>会社名</td>
<td>所属</td>
<td>名前</td>
<td>名前（よみ）</td>
<td>メールアドレス</td>
<td>電話番号</td>
<td>管理者権限</td>
<td>操作</td>
</tr>
</thead>
<tbody>
<?php
foreach($list as $_record) {
?>
<tr id="<?php echo $_record['User']['id'] ?>" class="ui-state-default">
<td><?php echo $_record['User']['corporation'] ?></td>
<td><?php echo $_record['User']['unit'] ?></td>
<td><?php echo $_record['User']['name'] ?></td>
<td><?php echo $_record['User']['name_ruby'] ?></td>
<td><?php echo $_record['User']['mail_address'] ?></td>
<td><?php echo $_record['User']['tel'] ?></td>
<td class="center"><?php echo ($_record['User']['admin']) ? "あり":"なし"; ?></td>
<td class="action center">
<div class="edit button ui-widget-header ui-corner-all header">
<span class="">編集</span>
</div>
<div class="del button ui-widget-header ui-corner-all header">
<span class="">削除</span>&nbsp;
</div>
<div class="change button ui-widget-header ui-corner-all header">
<span class="">パスワード変更</span>
</div>
</td>
</tr>
<?php } ?>
</tbody>
</table>
<div class="clearfix"></div>
</div>
<script type="text/javascript">
jQuery(function($) {
    $(".edit").click(function (){
        id = $(this).parent().parent().attr('id');
        location.href='/admin/users/edit/'+id;
    });

    $(".del").click(function (){
        id = $(this).parent().parent().attr('id');
        del_alert("削除確認", "このユーザーを削除しますか？", id);
    });
    $(".change").click(function (){
        id = $(this).parent().parent().attr('id');
        location.href='/admin/users/change_password/'+id;
    });
});
function del_alert(title, msg, id) {
    span = $("<span></span>");
    p = $("<p></p>");
    span.addClass('ui-icon ui-icon-alert');
    tag = $("<div></div>");
    tag.attr('title', title);
    p.append(span);
    p.append(msg);
    tag.append(p);
    tag.dialog({
        bgiframe: true,
        modal: true,
        height: 100,
        overlay: {
            backgroundColor: '#000',
            opacity: 0.5
        },
        buttons: {
            'キャンセル': function() {
                $(this).dialog('close');
            },
            '削除': function() {
                location.href='/admin/users/del/'+id;
            }
        }
    });
}
</script>
