<?php
if($this->data['User']['id'] == '_new') {
    $action = '登録';
}else{
    $action = '変更';
}
?>
<div class="grid section ui-corner-all">
<div class="ui-widget-header ui-corner-all header">
    <h2>ユーザー<?php echo $action; ?></h2>
</div>
<div class="tooltip shadow"></div>
<?php
    echo $form->create('User', array('type'=>'post','url'=>array('controller' => 'users'),'action'=>'edit','id'=>'form'));
?>
<?php
echo $form->input('name', array('label'=>'名前', 'class' => 'required', 'maxlength' => '50','title'=>'名前を入力してください。<br/>50文字まで入力できます。'));
echo $form->input('name_ruby', array('label'=>'名前（よみ）', 'class' => 'required', 'maxlength' => '50','title'=>'名前（よみ）を入力してください。<br/>50文字まで入力できます。'));
echo $form->input('id', array('type' => 'hidden', 'label'=>'ID'));
echo $form->input('corporation', array('label'=>'会社名', 'class' => 'required', 'maxlength' => '50','title'=>'会社名を入力してください。<br/>50文字まで入力できます。'));
echo $form->input('unit', array('label'=>'所属', 'class' => 'required', 'maxlength' => '50','title'=>'所属を入力してください。<br/>50文字まで入力できます。'));
echo $form->input('tel', array('label'=>'電話番号', 'class' => 'required', 'maxlength' => '50','title'=>'電話番号を入力してください。<br/>50文字まで入力できます。'));
echo $form->input('mail_address', array('label'=>'メールアドレス', 'class' => 'required', 'maxlength' => '200','title'=>'メールアドレスを入力してください。<br/>200文字まで入力できます。'));
if($this->data['User']['id'] == '_new') {
    echo $form->input('password', array('type' => 'password', 'label'=>'パスワード', 'class' => 'required', 'maxlength' => '50','title'=>'パスワードを入力してください。<br/>50文字まで入力できます。'));
}
echo $form->input('admin',array('type' => 'checkbox','label'=>'管理者権限'), array('checked'=>1));
?>
<div class="do-submit button ui-widget-header ui-corner-all header">
<?php
echo $form->submit('ユーザー情報を'.$action.'する', array('name' => 'do_save_user'));
?>
</div>
<div class="do-submit button ui-widget-header ui-corner-all header">
<?php
echo $form->submit('キャンセル', array('name' => 'do_cancel'));
?>
</div>
<?php
echo $form->end();
?>
<form>
<div class="clearfix"></div>
</div>

<script type="text/javascript" >

$(document).ready(function(){
    $('#form').validate({
        errorElement: 'div',
        errorClass: 'error-message',
    }).form();
});
</script>
