<div class="grid section ui-corner-all">
<div class="ui-widget-header ui-corner-all header">
    <h2>パスワード変更</h2>
</div>
<div class="tooltip shadow"></div>
<?php
echo $form->create('User', array('type'=>'post','url'=>array('controller' => 'users'),'action'=>'change_password','id'=>'form'));

echo $form->input('id', array('type' => 'hidden', 'label'=>'ID'));
echo $form->input('password', array('type' => 'password', 'label'=>'パスワード', 'maxlength' => '50','title'=>'パスワードを入力してください。<br/>50文字まで入力できます。'));
echo $form->submit('パスワードを変更する', array('name' => 'do_save_user'));
echo $form->submit('キャンセル', array('name' => 'do_cancel'));
echo $form->end();
?>
<form>
<div class="clearfix"></div>
</div>
