<ul class="toolbar">
    <li id="new-project" title="プロジェクトの作成">
        <span class="new-project"></span>新規作成
    </li>
    <li id="edit-project" title="プロジェクトの編集">
        <span class="edit-project"></span>編集
    </li>
    <li id="del-project" title="プロジェクトの削除">
        <span class="del-project"></span>削除
    </li>
    <li class="split"></li>
    <li id="view-task" class="hover" title="タスクを表示">
        <span class="view-task"></span>タスクビュー
    </li>
    <li id="view-gantt" title="ガントを表示">
        <span class="view-gantt"></span>ガントビュー
    </li>
    <li class="split"></li>
    <li id="chg-pass" title="パスワードを変更">
        <span class="chg-pass"></span>パスワード変更
    </li>
    <li class="split"></li>
    <li id="logout" class="right" title="ログアウトする">
        <span class="logout"></span>ログアウト
    </li>
</ul>
